*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Azeret Mono', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5959e5;
    background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
    background-size: 44px 77px;
    background-position: 0 0, 0 0, 22px 39px, 22px 39px, 0 0, 22px 39px;
    }

#outside{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    width: 40%;
    height: 45rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0);
}

#display{
    justify-self: flex-start;
    margin-top: 100px;
    border-top: 5px solid black;
    flex: 1 1 115px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: white;
    color: black;
}

#nums{
    margin-right: 20px;
    min-width: 30px;
    height: auto;
    font-weight: 700px;
    font-size: 50px;
}

#buttons-container{
    border-top: 5px solid black;
    flex: 2 1 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(155, 93, 224);
    
}

.btn{
    flex: 1 1 calc(100%/4);
    font-size: large;
    color: white;
    background-color: rgb(155, 93, 224);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 7px 7px 20px 2px rgb(0, 0, 0);
}

